<h2 mat-dialog-title>{{dialogTitle}}</h2>

<mat-dialog-content [formGroup]="meetingForm">
  <mat-form-field>
    <mat-label>Subject</mat-label>
    <input formControlName="subject" matInput>
  </mat-form-field>
  <mat-form-field>
  <mat-label>Select an employee to be a meeting leader</mat-label>
  <mat-select formControlName="employeeMeetingLeaderID">
    <mat-option *ngFor="let employee of employees$ | async" [value]="employee.id">
      {{employee.id}}}
    </mat-option>
  </mat-select>
 </mat-form-field>
  <mat-form-field>
    <mat-label>Select a room</mat-label>
    <mat-select formControlName="roomID">
      <mat-option *ngFor="let room of rooms$ | async" [value]="room.id">
        {{room.name}}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>


<mat-dialog-actions>
  <button (click)="close()" mat-raised-button>Close</button>
  <button (click)="save()" color="primary" mat-raised-button>Save</button>
</mat-dialog-actions>
