<div class="credentials-links">
  <a href="https://github.com/olliekrk/networker" rel="noopener" target="_blank">GitHub Repository</a>
  <mat-divider></mat-divider>
  <a href="https://github.com/olliekrk" rel="noopener" target="_blank">Olgierd Królik</a>
  <mat-divider></mat-divider>
  <a href="https://github.com/roshoy" rel="noopener" target="_blank">Adrian Maciej</a>
  <mat-divider></mat-divider>
  <a href="https://github.com/kbieniasz" rel="noopener" target="_blank">Krzysztof Bieniasz</a>
</div>
